body{
    height: 100;
}


.container-fluid{
    width: 100%;
    height: 100vh;
    background: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container b{
    color: antiquewhite;
    font-size: 30px;
}
.navbar-nav{
    margin-left: auto;
    
}
.navbar{
    background-color: rgba(0,0,0,0.4);
    box-shadow: rgba(0,0,0,0.6);
}

.container{

    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 20px blanchedalmond;
}
.navbar-nav img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.nav-item{
    padding: 0px 20px;
}
h2{
    color: rgb(57, 252, 8);
    text-align: center;
    margin-top: 8% !important;
   
}

h6{
    color: whitesmoke;
    text-align: center;
    margin-top: 5% !important;
    vertical-align: middle;
}

.btn{
    text-align: center;
    padding: 5px 10px;
    margin-top: 8%

}